<div [attr.id]="header78Id" class="header78-header78">
  <div class="header78-column thq-section-padding thq-section-max-width">
    <div class="header78-content1">
      <div class="header78-container1">
        <div class="header78-container2">
          <h1 class="header78-text1 thq-heading-1">
            <ng-container>
              <ng-template #defaultText>
                <div class="header78-fragment1">
                  <span class="header78-text5">Welcome to </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text ? text : defaultText"
              ></ng-container>
            </ng-container>
          </h1>
        </div>
      </div>
      <p class="header78-text2 thq-body-large">
        <ng-container>
          <ng-template #defaultText1>
            <div class="header78-fragment2">
              <span class="header78-text6">
                Your go-to solution for laptop and computer repairs after hours.
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </p>
    </div>
    <div class="header78-container3">
      <div class="header78-actions">
        <a href="#ContactForm6" class="header78-button1 thq-button-filled">
          <span class="thq-body-small">
            <ng-container>
              <ng-template #defaultText2>
                <div class="header78-fragment3">
                  <span class="header78-text7">Contact Us</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text2 ? text2 : defaultText2"
              ></ng-container>
            </ng-container>
          </span>
        </a>
        <button
          [attr.disabled]="false"
          class="header78-button2 thq-button-outline"
        >
          <span class="thq-body-small">
            <ng-container>
              <ng-template #defaultText3>
                <div class="header78-fragment4">
                  <span class="header78-text8">Remote Session</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text3 ? text3 : defaultText3"
              ></ng-container>
            </ng-container>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="header78-content2">
    <div
      class="header78-row-container thq-mask-image-horizontal thq-animated-group-container-horizontal"
    >
      <div class="thq-animated-group-horizontal">
        <img
          [attr.alt]="placeholderImageAlt"
          [attr.src]="placeholderImageSrc"
          class="header78-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt1"
          [attr.src]="placeholderImageSrc1"
          class="header78-placeholder-image11 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt2"
          [attr.src]="placeholderImageSrc2"
          class="header78-placeholder-image12 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt3"
          [attr.src]="placeholderImageSrc3"
          class="header78-placeholder-image13 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt4"
          [attr.src]="placeholderImageSrc4"
          class="header78-placeholder-image14 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt5"
          [attr.src]="placeholderImageSrc5"
          class="header78-placeholder-image15 thq-img-scale thq-img-ratio-1-1"
        />
      </div>
      <div class="thq-animated-group-horizontal">
        <img
          [attr.alt]="placeholderImageAlt6"
          [attr.src]="placeholderImageSrc6"
          class="header78-placeholder-image16 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt7"
          [attr.src]="placeholderImageSrc7"
          class="header78-placeholder-image17 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt8"
          [attr.src]="placeholderImageSrc8"
          class="header78-placeholder-image18 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt9"
          [attr.src]="placeholderImageSrc9"
          class="header78-placeholder-image19 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt10"
          [attr.src]="placeholderImageSrc10"
          class="header78-placeholder-image20 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="placeholderImageAlt11"
          [attr.src]="placeholderImageSrc11"
          class="header78-placeholder-image21 thq-img-scale thq-img-ratio-1-1"
        />
      </div>
    </div>
  </div>
  <div>
    <div class="header78-container5">
      <dangerous-html
        html="<style>
  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 16px));
    }
  }

  @keyframes scroll-y {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - 16px));
    }
  }
</style>
"
      ></dangerous-html>
    </div>
  </div>
</div>
