<div class="home-container10">
  <app-navbar81
    logoSrc="/assets/untitled_artwork%201-1500h.png"
    link1Url="#Header78"
    link2Url="#Features24"
    link3Url="#CTA26"
    link4Url="#ContactForm6"
    rootClassName="navbar81root-class-name"
    page2ImageSrc1="/assets/repair-tools-1400w.png"
    page3ImageSrc1="/assets/id-card-1400w.png"
    page4ImageSrc1="/assets/contacts-1400w.png"
  >
    <ng-template #link1>
      <div class="home-fragment10"><span class="home-text10">/home</span></div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment11">
        <span class="home-text11">/services</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment12"><span class="home-text12">/about</span></div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment13">
        <a
          href="https://google.com"
          target="_blank"
          rel="noreferrer noopener"
          class="home-link1"
        >
          /contact
        </a>
      </div>
    </ng-template>
    <ng-template #page1>
      <div class="home-fragment14">
        <span class="home-text13">Page One</span>
      </div>
    </ng-template>
    <ng-template #page2>
      <div class="home-fragment15">
        <span class="home-text14">Page Two</span>
      </div>
    </ng-template>
    <ng-template #page3>
      <div class="home-fragment16">
        <span class="home-text15">Page Three</span>
      </div>
    </ng-template>
    <ng-template #page4>
      <div class="home-fragment17">
        <span class="home-text16">Page Four</span>
      </div>
    </ng-template>
    <ng-template #link31>
      <div class="home-fragment18">
        <span class="home-text17">/contact</span>
      </div>
    </ng-template>
    <ng-template #page11>
      <div class="home-fragment19"><span class="home-text18">Home</span></div>
    </ng-template>
    <ng-template #page21>
      <div class="home-fragment20">
        <span class="home-text19">Services</span>
      </div>
    </ng-template>
    <ng-template #page31>
      <div class="home-fragment21">
        <span class="home-text20">About Us</span>
      </div>
    </ng-template>
    <ng-template #page41>
      <div class="home-fragment22">
        <span class="home-text21">Contact</span>
      </div>
    </ng-template>
    <ng-template #page1Description>
      <div class="home-fragment23">
        <span class="home-text22">Page One Description</span>
      </div>
    </ng-template>
    <ng-template #page2Description>
      <div class="home-fragment24">
        <span class="home-text23">Page Two Description</span>
      </div>
    </ng-template>
    <ng-template #page3Description>
      <div class="home-fragment25">
        <span class="home-text24">Page Three Description</span>
      </div>
    </ng-template>
    <ng-template #page4Description>
      <div class="home-fragment26">
        <span class="home-text25">Page Four Description</span>
      </div>
    </ng-template>
    <ng-template #page1Description1>
      <div class="home-fragment27">
        <span class="home-text26">Welcome to Night Owl Repairs!</span>
      </div>
    </ng-template>
    <ng-template #page2Description1>
      <div class="home-fragment28">
        <span class="home-text27">
          We offer a range of repair services.
          <span [innerHTML]="rawd5p1"></span>
        </span>
      </div>
    </ng-template>
    <ng-template #page3Description1>
      <div class="home-fragment29">
        <span class="home-text28">
          Learn more about the team behind Night Owl Repairs.
        </span>
      </div>
    </ng-template>
    <ng-template #page4Description1>
      <div class="home-fragment30">
        <span class="home-text29">
          Get in touch with us and find out how we can help you.
        </span>
      </div>
    </ng-template>
  </app-navbar81>
  <app-header78 header78Id="Header78">
    <ng-template #text>
      <div class="home-fragment31">
        <span class="home-text30">Welcome to NightOwl Repairs</span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="home-fragment32">
        <span class="home-text31">
          Your go-to solution for laptop and computer repairs after hours.
        </span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="home-fragment33">
        <span class="home-text32">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="home-fragment34">
        <span class="home-text33">Remote Session</span>
      </div>
    </ng-template>
  </app-header78>
  <app-features24
    features24Id="Features24"
    feature1ImgSrc="/assets/robots-1400w.jpg"
  >
    <ng-template #feature1Title>
      <div class="home-fragment35">
        <span class="home-text34">Local Collection</span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment36">
        <span class="home-text35">After-Hours Service</span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment37">
        <span class="home-text36">Remote Support</span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment38">
        <span class="home-text37">
          We offer local collection/drop-off  and diagnosis from £10
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment39">
        <span class="home-text38">
          Convenient after-hours service from 6pm to 10pm.
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Description>
      <div class="home-fragment40">
        <span class="home-text39">
          We might be able to fix your problem or provide support over the
          internet
        </span>
      </div>
    </ng-template>
  </app-features24>
  <div class="home-container11 thq-section-padding">
    <div class="home-max-width1 thq-section-max-width">
      <div class="home-container12 thq-grid-2">
        <div class="home-section-header">
          <h2 class="thq-heading-2">Steps to Repair</h2>
          <p class="thq-body-large">
            <span>
              We are a small, customer-focused start-up company, offering a
              range of IT services, including but not limited to laptop, pc and
              printer repairs. We provide collection and drop-off services local
              to Blaydon, Whickham and surrounding areas.
            </span>
            <br />
            <br />
            <span>
              Whether it’s hardware issues, software troubleshooting or general
              maintenance, we’re here to get your devices back up and running
              while most other companies are closed and busy enjoying dinner.
            </span>
            <br />
            <br />
          </p>
          <div class="home-actions">
            <a href="#ContactForm6" class="home-button thq-button-filled">
              <span class="thq-body-small">Contact Us</span>
            </a>
          </div>
        </div>
        <div class="home-container13">
          <div class="home-container14 thq-card">
            <h2 class="thq-heading-2">Contact Us</h2>
            <span class="home-text50 thq-body-small">
              Get in touch with us to discuss your IT issues and discover how we
              can help.
            </span>
            <label class="home-text51 thq-heading-3">01</label>
          </div>
          <div class="home-container15 thq-card">
            <h2 class="thq-heading-2">Collection</h2>
            <span class="home-text53 thq-body-small">
              Our technician will collect your device, test it in our workshop,
              and provide a quotation before any repairs.
            </span>
            <label class="home-text54 thq-heading-3">02</label>
          </div>
          <div class="home-container16 thq-card">
            <h2 class="thq-heading-2">Repair</h2>
            <span class="home-text56 thq-body-small">
              <span>
                Upon your approval, we’ll proceed with the repair.
                <span [innerHTML]="rawvacb"></span>
              </span>
              <br />
              <span>*Repair time varies based on the issue.</span>
            </span>
            <label class="home-text60 thq-heading-3">03</label>
          </div>
          <div class="home-container17 thq-card">
            <h2 class="thq-heading-2">Drop-Off</h2>
            <span class="home-text62 thq-body-small">
              Once repaired, we’ll arrange return and payment.
            </span>
            <label class="home-text63 thq-heading-3">04</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-cta26 cTA26Id="CTA26" imageSrc2="/assets/richard_avatar_%20(1)-200h.png">
    <ng-template #content1>
      <div class="home-fragment41">
        <span class="home-text64">
          A Master&apos;s graduate in Computer Science from Newcastle University
          with a strong technical background. Initially focused on software
          development, later transitioning into computer repairs and IT
          solutions. Experienced in device repair, custom PC building, hardware
          troubleshooting, and tutoring.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment42">
        <span class="home-text65">Richard (Owner/Technician)</span>
      </div>
    </ng-template>
  </app-cta26>
  <div id="CTA26" class="thq-section-padding">
    <div class="thq-section-max-width">
      <div class="home-accent2-bg">
        <div class="home-accent1-bg">
          <div class="home-container19">
            <div class="home-content1">
              <span class="thq-heading-2">Parris (Owner/Technician)</span>
              <p class="thq-body-large">
                A Business Graduate from Newcastle University with a background
                in front-end development, digital marketing, and graphic design.
                Familiar with various programming languages and experienced in
                SEO, PPC, and social media marketing.
              </p>
            </div>
            <img
              alt="image"
              src="/assets/parris_avatar_%20(1)-200h.png"
              class="home-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-testimonial17
    rootClassName="testimonial17root-class-name"
    testimonial17Id="Testimonial17"
  >
    <ng-template #review1>
      <div class="home-fragment43">
        <span class="home-text68">5 stars</span>
      </div>
    </ng-template>
    <ng-template #review2>
      <div class="home-fragment44">
        <span class="home-text69">
          Night Owl Repairs saved the day when I thought I had lost all my
          important files. Thank you for the quick turnaround!
        </span>
      </div>
    </ng-template>
    <ng-template #review3>
      <div class="home-fragment45">
        <span class="home-text70">
          Great service at a reasonable price. Will definitely be using Night
          Owl Repairs for all my computer needs in the future.
        </span>
      </div>
    </ng-template>
    <ng-template #review4>
      <div class="home-fragment46">
        <span class="home-text71">
          I was impressed with the professionalism and expertise of Night Owl
          Repairs. They were able to fix my laptop in no time!
        </span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment47">
        <span class="home-text72">
          Night Owl Repairs provided fast and efficient service when my laptop
          crashed. I highly recommend their after-hours support!
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment48">
        <span class="home-text73">Testimonials</span>
      </div>
    </ng-template>
    <ng-template #author1Name>
      <div class="home-fragment49">
        <span class="home-text74">John Smith</span>
      </div>
    </ng-template>
    <ng-template #author2Name>
      <div class="home-fragment50">
        <span class="home-text75">Sarah Johnson</span>
      </div>
    </ng-template>
    <ng-template #author3Name>
      <div class="home-fragment51">
        <span class="home-text76">Michael Chang</span>
      </div>
    </ng-template>
    <ng-template #author4Name>
      <div class="home-fragment52">
        <span class="home-text77">Emily Roberts</span>
      </div>
    </ng-template>
    <ng-template #author1Position>
      <div class="home-fragment53">
        <span class="home-text78">CEO of Tech Solutions Ltd</span>
      </div>
    </ng-template>
    <ng-template #author2Position>
      <div class="home-fragment54">
        <span class="home-text79">Freelance Graphic Designer</span>
      </div>
    </ng-template>
    <ng-template #author3Position>
      <div class="home-fragment55">
        <span class="home-text80">Small Business Owner</span>
      </div>
    </ng-template>
    <ng-template #author4Position>
      <div class="home-fragment56">
        <span class="home-text81">Student</span>
      </div>
    </ng-template>
  </app-testimonial17>
  <app-contact10 rootClassName="contact10root-class-name">
    <ng-template #content1>
      <div class="home-fragment57">
        <span class="home-text82">
          Drop us an email or message and we&apos;ll get back to you
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment58">
        <span class="home-text83">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #location1>
      <div class="home-fragment59">
        <span class="home-text84">Night Owl Repairs Office</span>
      </div>
    </ng-template>
    <ng-template #location2>
      <div class="home-fragment60">
        <span class="home-text85">Online Support</span>
      </div>
    </ng-template>
    <ng-template #location1Description>
      <div class="home-fragment61">
        <span class="home-text86">
          Get in touch with for repairs, support and advice
        </span>
      </div>
    </ng-template>
    <ng-template #location2Description>
      <div class="home-fragment62">
        <span class="home-text87">
          Get in touch with us online for remote support or inquiries via email
          at support@nightowlrepairs.com.
        </span>
      </div>
    </ng-template>
  </app-contact10>
  <contact-form6 contactForm6Id="ContactForm6">
    <ng-template #email>
      <div class="home-fragment63">
        <span class="home-text88">support@nightowlrepairs.com</span>
      </div>
    </ng-template>
    <ng-template #phone>
      <div class="home-fragment64">
        <span class="home-text89">07000 000000</span>
      </div>
    </ng-template>
    <ng-template #action>
      <div class="home-fragment65"><span class="home-text90">Submit</span></div>
    </ng-template>
    <ng-template #address>
      <div class="home-fragment66">
        <span class="home-text91">
          123 Night Owl Street, City, State, Zip Code
        </span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment67">
        <span class="home-text92">
          Got a question or need help? Simply fill out the form on the right, or
          reach out to us on Facebook or instagram, and we’ll get back to you as
          soon as possible.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment68">
        <span class="home-text93">Contact Us</span>
      </div>
    </ng-template>
  </contact-form6>
  <footer class="home-footer7 thq-section-padding">
    <div class="home-max-width3 thq-section-max-width">
      <div class="home-content2">
        <div class="home-logo1">
          <a routerLink="/" class="home-navlink">
            <img
              alt="Night Owl Repairs Logo"
              src="/assets/untitled_artwork%201-1500h.png"
              class="home-logo2"
            />
          </a>
        </div>
        <div class="home-links">
          <a href="#Hero17" class="home-link2 thq-link thq-body-small">Home</a>
          <a href="#Features24" class="home-link3 thq-link thq-body-small">
            Services
          </a>
          <a href="#CTA26" class="home-link4 thq-link thq-body-small">
            About Us
          </a>
          <a href="#ContactForm6" class="home-link5 thq-link thq-body-small">
            Contact Us
          </a>
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="home-link6 thq-link thq-body-small"
          >
            Remote
          </a>
        </div>
      </div>
      <div class="home-credits">
        <div class="thq-divider-horizontal">
          <span class="thq-link thq-body-small">
            © 2025 NightOwl Repairs | All Rights Reserved
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
