:host { 
  display: contents; 
}
 
.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-link1 {
  display: inline-block;
  text-decoration: underline;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-container11 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container12 {
  align-items: start;
}
 
.home-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.home-button {
  text-decoration: none;
}
 
.home-container13 {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.home-container14 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-container14:hover {
  color: var(--dl-color-theme-neutral-light);
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-text50 {
  text-align: center;
}
 
.home-text51 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container15 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-container15:hover {
  color: var(--dl-color-theme-neutral-light);
  transform: rotate(-4deg);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-text53 {
  text-align: center;
}
 
.home-text54 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container16 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-container16:hover {
  color: var(--dl-color-theme-neutral-light);
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-text56 {
  text-align: center;
}
 
.home-text60 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container17 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  transition: 0.3s;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-container17:hover {
  color: var(--dl-color-theme-neutral-light);
  transform: rotate(-4deg);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-text62 {
  text-align: center;
}
 
.home-text63 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text65 {
  display: inline-block;
}
 
.home-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.home-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-container19 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
 
.home-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image {
  width: 200px;
  object-fit: cover;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text68 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text69 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text70 {
  display: inline-block;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text71 {
  display: inline-block;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text72 {
  display: inline-block;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text73 {
  display: inline-block;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text74 {
  display: inline-block;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text75 {
  display: inline-block;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text76 {
  display: inline-block;
}
 
.home-fragment52 {
  display: contents;
}
 
.home-text77 {
  display: inline-block;
}
 
.home-fragment53 {
  display: contents;
}
 
.home-text78 {
  display: inline-block;
}
 
.home-fragment54 {
  display: contents;
}
 
.home-text79 {
  display: inline-block;
}
 
.home-fragment55 {
  display: contents;
}
 
.home-text80 {
  display: inline-block;
}
 
.home-fragment56 {
  display: contents;
}
 
.home-text81 {
  display: inline-block;
}
 
.home-fragment57 {
  display: contents;
}
 
.home-text82 {
  display: inline-block;
}
 
.home-fragment58 {
  display: contents;
}
 
.home-text83 {
  display: inline-block;
}
 
.home-fragment59 {
  display: contents;
}
 
.home-text84 {
  display: inline-block;
}
 
.home-fragment60 {
  display: contents;
}
 
.home-text85 {
  display: inline-block;
}
 
.home-fragment61 {
  display: contents;
}
 
.home-text86 {
  display: inline-block;
}
 
.home-fragment62 {
  display: contents;
}
 
.home-text87 {
  display: inline-block;
}
 
.home-fragment63 {
  display: contents;
}
 
.home-text88 {
  display: inline-block;
}
 
.home-fragment64 {
  display: contents;
}
 
.home-text89 {
  display: inline-block;
}
 
.home-fragment65 {
  display: contents;
}
 
.home-text90 {
  display: inline-block;
}
 
.home-fragment66 {
  display: contents;
}
 
.home-text91 {
  display: inline-block;
}
 
.home-fragment67 {
  display: contents;
}
 
.home-text92 {
  display: inline-block;
}
 
.home-fragment68 {
  display: contents;
}
 
.home-text93 {
  display: inline-block;
}
 
.home-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-content2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-navlink {
  display: contents;
}
 
.home-logo2 {
  height: 2rem;
  text-decoration: none;
}
 
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.home-link2 {
  text-decoration: underline;
}
 
.home-link3 {
  text-decoration: none;
}
 
.home-link4 {
  text-decoration: none;
}
 
.home-link5 {
  text-decoration: none;
}
 
.home-link6 {
  display: none;
}
 
.home-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-actions {
    width: 100%;
    align-self: flex-start;
  }
  .home-container14 {
    width: 100%;
  }
  .home-container15 {
    width: 100%;
  }
  .home-container16 {
    width: 100%;
  }
  .home-container17 {
    width: 100%;
  }
  .home-container19 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .home-button {
    width: 100%;
  }
  .home-max-width3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-links {
    flex-direction: column;
  }
}
